= form_for :member, url: update_disable_two_factor_members_path, method: :patch do |f|
  = f.label :password
  = f.password_field :password, autofocus: true
  = f.submit 'Disable two factor', class: 'button button-primary'
