default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: postgres
  host: localhost
  password:

development:
  <<: *default
  database: MMT_development

test:
  <<: *default
  database: MMT_test

production:
  <<: *default
  database: MMT_production
  username: MMT
  password: <%= ENV['MMT_DATABASE_PASSWORD'] %>

staging:
  <<: *default
  database: MMT_staging
  username: MMT
  password: <%= ENV['MMT_DATABASE_PASSWORD'] %>
