
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 * * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require skeleton
 *= require font-awesome
 *= require select2
 *= require qrcode
 *= require twofactor
 *= require_self
 */

@import 'colours';

nav.primary {
  height: 54px;
  background: $dark;
  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        li {
          background: #DEE9F1;
        }
        color: $dark;
      }
    }
    li {
      margin: 0;
      padding: 15px 10px 15px 10px;
      display: inline-block;
      list-style-type: none;
    }
  }
}

.flash {
  text-align: center;
  font-weight: 600;
  color: white;
  background: $blue;
  padding: 7px 5px 7px 5px;
}

#notice.flash {

}

#alert.flash {

}

#error.flash {

}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  margin: 0;
  padding-bottom: 100px;
}

.container {
  margin-top: 3em;
}

nav {
  height: 54px;
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 0;
      list-style-type: none;
    }
  }
}

section.title {
  border: 1px solid grey;
  margin: 1em;
  padding: 1em;
}

.full-length {
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  margin: 5px;
}

.icons {
  display: flex;
  float: right;
}

.icon {
  padding-left: 10px;
}

.total {
  span {
    margin-right: 0.5em;
  }
}

.dashboard-tabs {
  margin-bottom: 30px;
}

.tab {
  margin-left: 5px;
  margin-right: 5px;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  background-color: #282828;
}

.active {
  background-color: #1EAEDB;
}

.block {
  margin-bottom: 15px;
  padding: 30px;
  background: #1EAEDB;
  border-radius: 10px;
  color: #FFF;
}

.strip {
  margin: 0;
}
