<% @plans.each do |plan| %>
  <section>
    <h2>
      <%= plan.name %>
    </h2>
  </section>
  <section class="details">
    <% plan.details.each do |detail| %>
      Coin: <%= detail.coin.code %><br>
      Percentage: <%= detail.proportion %><br>
      <hr>
    <% end %>
  </section>
<% end %>
