= t('withdrawl_requests.admin.confirmed.title')

= t('withdrawl_requests.admin.confirmed.body', confirmed_by: @withdrawl_request.confirmed_by.username, member: @member.username, quantity: @withdrawl_request.read_quantity, coin: @coin.code)

